@CHARSET "ISO-8859-1";
#header
{
 
border: 5px solid black ;
padding-right: 25px;
padding-left:25px;
   height:105px;
    width:190px;
   margin-left: 370px;
    border-radius: 5px;
    z-index: 1;
    
    font-size: 15px;
  
   
    
}
h1
{
    margin-top: 5px;   
 font-size : 16px;
    
}

.left
{
   background-color: blue;
    height:1690px;
    width:50px;
    float: left;
    display:inline-block;
    text-align: center;
    
}
pre
{
    
    overflow: auto;
    white-space: pre-wrap;
    
}
.right
{   background-color: grey;
    float: right;
    /*height:250px;*/
    width:750px;
    
    text-align: left;
    
   display:inline-block;
   margin-left:100px;
    margin-top:-1550px;
    
    
    
    
}
#footer
{   background-color: blue;
    height:150px;
    width:98%;
    clear: both;
    text-align:center;
     
     
    /*margin-top: 95px;*/
   /* margin-left:150*/
    
}
.head
{
    font-size: 20px;
    font-family: Times;
    
}
.part
{
    
 font-size:14px;   
 
 font-family: Times;
    
}



*
{
    
 border-radius: 5px;   
}